// 色票
$horizon: #b0e2e2;
$babyBlue: #d8eae9;
$aqua: #6fd8d5;
$pink: #f2b3c3;
$grayBlue: #809bce;
$darkGray: #4a4a4a;
$white: #fff;
$lightgray: #f2f2f2;
$gray: #b3b3b3;
$page4bg: #e9ecee;

// 字體設定 (1~7 = 大~小)
$font1: 112px;
$font2: 96px;
$font3: 80px;
$font4: 53px;
$font5: 40px;
$font6: 32px;
$font7: 27px;
$font8: 21px;